* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: url("../images/int1.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Glass Card */
.signup-card {
    width: 380px;
    padding: 30px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);

    color: #000;
}

.signup-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Inputs */
.signup-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Button */
.signup-card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    background: transparent;
    color: #000;
    font-weight: 600;

    border: 2px solid #583b01;
}

.signup-card button:hover {
    background: #543901;
    color: #fff;
}

/* Text */
.login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-text a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}
.signup-card {
    animation: float 4s ease-in-out infinite;
}
